<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block css_files %}
        <link rel="stylesheet" href="{% static 'home.css' %}"/>
{% endblock %}

<head>
	<title>Quiz</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>

<body>
    <h2 class="header">Questionario</h2>

    <form action="{% url 'xr_form' %}" method="post" id="questionario">
        {% csrf_token %}
        <label for="name">Teu nome:</label><br>
        <input type="text" name="name" id="name"><br><br>

        <h3 class="header">Alojamento</h3>

        <label for="p1">Quantas pessoas moram em tua casa?</label><br>
        <input type="radio" name="p1" id="p1" value="30">1<br>
        <input type="radio" name="p1" id="p1" value="25">2<br>
        <input type="radio" name="p1" id="p1" value="20">3<br>
        <input type="radio" name="p1" id="p1" value="15">4<br>
        <input type="radio" name="p1" id="p1" value="10">5 ou mais<br><br>

        <label for="p2">Qual o sistema de aquecimento da sua casa?</label><br>
        <input type="radio" name="p2" id="p2" value="30">Gás natural<br>
        <input type="radio" name="p2" id="p2" value="40">Eletricidade<br>
        <input type="radio" name="p2" id="p2" value="50">Gasóleo<br>
        <input type="radio" name="p2" id="p2" value="0">Fontes Renováveis (solar, eólica)<br><br>

        <label for="p3">Quantas torneiras há em sua casa?</label><br>
        <input type="radio" name="p3" id="p3" value="5">Menos de 3<br>
        <input type="radio" name="p3" id="p3" value="10">Entre 4 e 5<br>
        <input type="radio" name="p3" id="p3" value="15">Entre 6 e 8<br>
        <input type="radio" name="p3" id="p3" value="20">Entre 9 e 10<br>
        <input type="radio" name="p3" id="p3" value="25">Mais de 10<br><br>

        <label for="p4">Em que tipo de casa vives?</label><br>
        <input type="radio" name="p4" id="p4" value="20">Apartamento<br>
        <input type="radio" name="p4" id="p4" value="40">Moradia<br><br>

        <h3 class="header">Alimentação</h3>

        <label for="p5">Quantas refeições de carne ou peixe comes por semana?</label><br>
        <input type="radio" name="p5" id="p5" value="0">Nenhuma<br>
        <input type="radio" name="p5" id="p5" value="10">Entre 1 e 3<br>
        <input type="radio" name="p5" id="p5" value="20">Entre 4 e 6<br>
        <input type="radio" name="p5" id="p5" value="35">Entre 7 e 10<br>
        <input type="radio" name="p5" id="p5" value="50">Mais de 10<br><br>

        <label for="p6">Quantas refeições feitas em casa é que comes por semana?</label><br>
        <input type="radio" name="p6" id="p6" value="25">Menos de 10<br>
        <input type="radio" name="p6" id="p6" value="20">Entre 10 e 14<br>
        <input type="radio" name="p6" id="p6" value="15">Entre 15 e 18<br>
        <input type="radio" name="p6" id="p6" value="10">Mais de 18<br><br>

        <label for="p7">Procuras comprar alimentos produzidos localmente?</label><br>
        <input type="radio" name="p7" id="p7" value="25">Sim<br>
        <input type="radio" name="p7" id="p7" value="125">Não<br>
        <input type="radio" name="p7" id="p7" value="50">Às vezes<br>
        <input type="radio" name="p7" id="p7" value="100">Raramente<br><br>

        <h3 class="header">Transportes</h3>

        <label for="p8">Que tipo de automóvel tens</label><br>
        <input type="radio" name="p8" id="p8" value="35">Motociclo<br>
        <input type="radio" name="p8" id="p8" value="60">Baixa cilidrada (até 1200 c.c.)<br>
        <input type="radio" name="p8" id="p8" value="75">Média/alta cilindrada (> 1200 c.c.)<br>
        <input type="radio" name="p8" id="p8" value="100">Van<br>
        <input type="radio" name="p8" id="p8" value="130">Off-road<br>
        <input type="radio" name="p8" id="p8" value="0">Não tenho automóvel<br><br>

        <label for="p9">Como vais para o emprego?</label><br>
        <input type="radio" name="p9" id="p9" value="60">Carro<br>
        <input type="radio" name="p9" id="p9" value="30">Carona<br>
        <input type="radio" name="p9" id="p9" value="15">Transporte público<br>
        <input type="radio" name="p9" id="p9" value="0">Bicicleta ou a pé<br><br>

        <label for="p10">Quantos quilómetros tens de percorrer de carro para chegar ao
        emprego?</label><br>
        <input type="radio" name="p10" id="p10" value="10">Menos de 10<br>
        <input type="radio" name="p10" id="p10" value="20">Entre 10 e 30<br>
        <input type="radio" name="p10" id="p10" value="30">Entre 31 e 50<br>
        <input type="radio" name="p10" id="p10" value="60">Entre 51 e 100<br>
        <input type="radio" name="p10" id="p10" value="80">Mais de 100<br>
        <input type="radio" name="p10" id="p10" value="0">Não vou de carro<br><br>

        <label for="p11">Aonde foste nas últimas férias?</label><br>
        <input type="radio" name="p11" id="p11" value="0">Lugar nenhum<br>
        <input type="radio" name="p11" id="p11" value="10">Outra cidade no Brasil (carro)<br>
        <input type="radio" name="p11" id="p11" value="20">Outra cidade no Brasil (avião)<br>
        <input type="radio" name="p11" id="p11" value="30">Outro país na américa do sul<br>
        <input type="radio" name="p11" id="p11" value="50">Outro país, em outro continente<br><br>

        <label for="p12">Em quantos finais de semana é que viajas de carro por ano? (mínimo 20 km de
        distância)</label><br>
        <input type="radio" name="p12" id="p12" value="0">0<br>
        <input type="radio" name="p12" id="p12" value="10">Entre 1 e 3<br>
        <input type="radio" name="p12" id="p12" value="20">Entre 4 e 6<br>
        <input type="radio" name="p12" id="p12" value="30">Entre 7 e 9<br>
        <input type="radio" name="p12" id="p12" value="40">Mais de 9<br><br>

        <h3 class="header">Consumo</h3>

        <label for="p13">Quantas compras significativas de eletrônicos fizeste (ou os teus pais) em 2022? (por exemplo: TV, vídeo, computador, mobílias, etc.)</label><br>
        <input type="radio" name="p13" id="p13" value="0">0<br>
        <input type="radio" name="p13" id="p13" value="15">Entre 1 e 3<br>
        <input type="radio" name="p13" id="p13" value="30">Entre 4 e 6<br>
        <input type="radio" name="p13" id="p13" value="45">Mais de 6<br><br>

        <label for="p14">Costumas comprar produtos de baixo consumo de energia?</label><br>
        <input type="radio" name="p14" id="p14" value="0">Sim<br>
        <input type="radio" name="p14" id="p14" value="25">Não<br><br>

        <h3 class="header">Resíduos</h3>

        <label for="p15">Procuras reduzir a produção de resíduos? (por exemplo: evitas
            produtos com muita embalagem, reutilizas o papel, evitas os sacos
            de plástico, etc.)</label><br>
        <input type="radio" name="p15" id="p15" value="0">Sempre<br>
        <input type="radio" name="p15" id="p15" value="10">Às vezes<br>
        <input type="radio" name="p15" id="p15" value="20">Raramente<br>
        <input type="radio" name="p15" id="p15" value="30">Nunca<br><br>

        <label for="p16">Praticas compostagem dos resíduos orgânicos?</label><br>
        <input type="radio" name="p16" id="p16" value="0">Sempre<br>
        <input type="radio" name="p16" id="p16" value="10">Às vezes<br>
        <input type="radio" name="p16" id="p16" value="20">Nunca<br><br>

        <label for="p17">Costumas triar o lixo e colocá-lo no ecoponto para ser reciclado?</label><br>
        <input type="radio" name="p17" id="p17" value="0">Sempre<br>
        <input type="radio" name="p17" id="p17" value="10">Às vezes<br>
        <input type="radio" name="p17" id="p17" value="20">Raramente<br>
        <input type="radio" name="p17" id="p17" value="25">Nunca<br><br>

        <label for="p18">Quantos sacos de lixo é que produzes por semana?</label><br>
        <input type="radio" name="p18" id="p15" value="10">1<br>
        <input type="radio" name="p18" id="p15" value="20">2<br>
        <input type="radio" name="p18" id="p15" value="30">3 ou mais<br><br>

        <input type="submit" name="submit" form="questionario" value="Submit">

    </form>


</body>
</html>