<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block css_files %}
        <link rel="stylesheet" href="{% static 'home.css' %}"/>
{% endblock %}

<head>
	<title>Touch Gestures</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.js" crossorigin="anonymous"></script>

  <!-- Código em javascript para o calculo da pontuação -->
  <!-- Exemplo do uso de variáveis em JavaScript -->
  <script type="text/javascript">
    stats = {
        "alojamento": 0,
        "alimentacao": 0,
        "transporte": 0,
        "consumo": 0,
        "residuo": 0,
    }
    // graphplot = []; // 0 -> alojamento | 1 -> alimentacao | 2 -> transporte | 3 -> consumo | 4 -> residuo

    // Alojamento
    stats["alojamento"] += parseInt('{{p1}}');
    stats["alojamento"] += parseInt('{{p2}}');
    stats["alojamento"] += parseInt('{{p3}}');
    stats["alojamento"] += parseInt('{{p4}}');
    // Alimentacao
    stats["alimentacao"] += parseInt('{{p5}}');
    stats["alimentacao"] += parseInt('{{p6}}');
    stats["alimentacao"] += parseInt('{{p7}}');
    // Transporte
    stats["transporte"] += parseInt('{{p8}}');
    stats["transporte"] += parseInt('{{p9}}');
    stats["transporte"] += parseInt('{{p10}}');
    stats["transporte"] += parseInt('{{p11}}');
    stats["transporte"] += parseInt('{{p12}}');
    // Consumo
    stats["consumo"] += parseInt('{{p13}}');
    stats["consumo"] += parseInt('{{p14}}');
    // Residuo
    stats["residuo"] += parseInt('{{p15}}');
    stats["residuo"] += parseInt('{{p16}}');
    stats["residuo"] += parseInt('{{p17}}');
    stats["residuo"] += parseInt('{{p18}}');

    // intactio
    pontuacao = 0;

    pontuacao += parseInt('{{p1}}');
    pontuacao += parseInt('{{p2}}');
    pontuacao += parseInt('{{p3}}');
    pontuacao += parseInt('{{p4}}');
    pontuacao += parseInt('{{p5}}');
    pontuacao += parseInt('{{p6}}');
    pontuacao += parseInt('{{p7}}');
    pontuacao += parseInt('{{p8}}');
    pontuacao += parseInt('{{p9}}');
    pontuacao += parseInt('{{p10}}');
    pontuacao += parseInt('{{p11}}');
    pontuacao += parseInt('{{p12}}');
    pontuacao += parseInt('{{p13}}');
    pontuacao += parseInt('{{p14}}');
    pontuacao += parseInt('{{p15}}');
    pontuacao += parseInt('{{p16}}');
    pontuacao += parseInt('{{p17}}');
    pontuacao += parseInt('{{p18}}');



    graphplot[0] -= parseInt('{{p1}}');
    graphplot -= parseInt('{{p4}}');

  </script>

  <script type="text/javascript">
    if(pontuacao != NaN)
    {
      pegada = "";

      if(pontuacao <= 150)
      {
        pegada = "Menor que 4 ha";
      }
      else if(pontuacao <= 400)
      {
        pegada = "Entre 4 e 6 ha";
      }
      else if(pontuacao <= 600)
      {
        pegada = "Entre 6 e 8 ha";
      }
      else if(pontuacao <= 800)
      {
        pegada = "Entre 8 e 10 ha";
      }
      else
      {
        pegada = "Mais que 10 ha";
      }
    }

  </script>

  
</head>

<body>
  <script type="text/javascript">
    alert("Pegada ecológica: " + pegada);
  </script>

  <!-- Exemplo do uso de variáveis em HTML -->
  <h2 class="header">Hello {{name}}! <br> Click Here to access the VR Application</h2>

  <h1 class="graficos">GRAFICO AQUI</h1>

  

  <footer class="footer"></footer>

	<script type="module" src="{% static 'hittingObject_xr.js' %}">HERE</script>
</body>
</html>