.header {
    text-align: center;
}


.find-button {
    padding-top: 780px;
    text-align: center;
    background-color: aqua;
}

.footer {
    display:flex;
    background-color: gray;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    border-top: 1px solid white;
    justify-content:center;
    align-items:center; 
}

.graficos {
    text-align: center;
    padding-top: 300px;
}
